.loader-css{
  background: #222222;
  position: fixed;
  text-align: center;
  top: 0px;
  z-index: 1000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  left: 0;
  line-height: 608px;
}

.font-bold {
  font-weight: bold;
}

#fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#245AD8;
	padding:20px;
  height: 50px;
  text-align: right;
  padding-top: 10px;
}
.menu-height{
  line-height: 48px !important;
  height: 48px !important;
}

ul#Navigation .active{
    border-color: white;
    border-left-color: black;
    border-top-color: black;
    color: white;
    background-color: #eceff1;
}

.gray-font{
    color: #757575;
    font-weight: 500;
}

.padding-13{
      padding: 13px;
}

/*Start Percent Spiner Css*/

.loader{
    position: relative;
    width: 40px;
    height: 40px;
    float:left;
    user-select: none;
    box-sizing: border-box;
}
.loader-bg
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 1);
    box-sizing: border-box;
}
.spiner-holder-one
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 50%;
    height: 50%;
    background: transparent;
    box-sizing: border-box;
}
.spiner-holder-two
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
}
.loader-spiner
{
    width: 200%;
    height: 200%;
    border-radius: 50%;
    border: 5px solid blue;
    box-sizing: border-box;
}
  .animate-0-25-a
{
    transform: rotate(90deg);
    transform-origin: 100% 100%;
}
.animate-0-25-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.animate-25-50-a
{
    transform: rotate(180deg);
    transform-origin: 100% 100%;
}
.animate-25-50-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.animate-50-75-a
{
    transform: rotate(270deg);
    transform-origin: 100% 100%;
}
.animate-50-75-b
{
    transform: rotate(-90deg);
    transform-origin:100% 100%;
}
.animate-75-100-a
{
    transform: rotate(0deg);
    transform-origin: 100% 100%;
}
.animate-75-100-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.text
{
    text-align: center;
    padding-top:32%;
    font-size: 12px;
    color: black;
}

/*End Percent Spiner Css*/

.table-border{
  border: 1px solid #D0D0D0;
  padding: 0px !important;
}

th {
  border-radius: 0px !important;
}

.padding-0-5{
  padding: 0 5px;
}

.collapse-arrow{
  float: left;
  margin-left: 242px;
  margin-top: -5px;
  color: white;
  font-size: 28px;
}
.datepicker{
  left: 750px !important;
}
